/* Common Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/* General Common Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
    scroll-behavior: smooth !important;
}

ul, nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

a.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196f3;
    font-weight: 800;
    text-align: center;
}

hr {
    width: 150px;
    height: 2px;
    background-color: #2196f3;
    border: 0;
    margin-bottom: 80px;
}

/* Section Common Styles */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}

@media (max-width: 1000px) {
    section {
        padding: 100px 50px;
    }

}

@media (max-width: 600px) {
    section {
        padding: 80px 30px;
    }
}

section h3.title {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Header Section */

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}

header h2 {
    font-family: 'Quicksand', sans-serif;
}

header nav {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}


/* Hero Section */



